@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'YourFont';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YourFont';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* src/app/globals.css */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #333;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

p {
  color: red;
}
/* src/app/globals.css */



.h1, .h2, .h3, .h4, .h5, .h6 {
  @apply text-4xl font-bold;
}

input,
button {
  @apply rounded-lg shadow-inner;
}

button {
  @apply px-4 py-2;
}

input:focus {
  @apply outline-none ring-2 ring-blue-500;
}

button:focus {
  @apply outline-none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  @apply w-5 h-5 border-4 border-white rounded-full border-t-transparent animate-spin;
}
